form(method="post", action=`/posts/${post._id}/comments`, role="form")
  input(type='hidden', name='_csrf', value=csrf_token)
  .form-group
    label(for='body') Add your comment
    textarea.form-control(type='text', rows="3", name="body", placeholder='Add your comment')
  button.btn.btn-primary(type='submit') Add comment